@import "tailwindcss";

:root {
	color-scheme: dark light;
	color-scheme: dark;
}
html {
	scroll-behavior: smooth;
}

@font-face {
	font-display: swap;
	font-family: "NeueHaasGroteskDisp";
	font-style: normal;
	font-weight: 500;
	src:
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.ttf")
			format("truetype"),
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.woff2")
			format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "NeueHaasGroteskText";
	font-style: normal;
	font-weight: normal;
	src:
		url("../../public/assets/fonts/NHaasGroteskTXPro-55Rg.woff2")
			format("woff2"),
		url("../../public/assets/fonts/NHaasGroteskTXPro-55Rg.woff") format("woff");
}

@theme {
	--color-background: oklch(17% 0.03 273);
	--color-foreground: oklch(95% 0.03 273);
	--color-foreground-muted: oklch(80% 0.03 273);

	--color-arc: #7aecf3;
	--color-solar: #f0631e;
	--color-void: #b185df;
	--color-stasis: #4d88ff;
	--color-strand: #35e366;
	--color-prismatic: #ef639f;

	--color-masterwork: #fdc700;

	--color-pve-damage: var(--color-green-400);
	--color-pvp-damage: var(--color-red-400);
	--color-tier-minor: var(--color-gray-400);
	--color-tier-elite: var(--color-orange-400);
	--color-tier-miniboss: var(--color-yellow-300);
	--color-tier-boss: var(--color-yellow-300);
	--color-tier-champion: var(--color-yellow-300);
	--color-tier-guardian: var(--color-red-400);
	--color-energy-grenade: var(--color-amber-400);
	--color-energy-melee: var(--color-teal-400);
	--color-energy-super: var(--color-yellow-400);
	--color-energy-class: var(--color-violet-400);
	--color-energy-ability: var(--color-blue-400);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-display: "NeueHaasGroteskDisp", var(--font-geist-sans);
	--font-text: "NeueHaasGroteskText", var(--font-geist-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-display);
}

@layer components {
	.background {
		@apply fixed inset-0 -z-1 box-content;
	}
	.background-image {
		@apply fixed inset-0 box-content blur-[0px] brightness-[0.9] contrast-[0.9] saturate-[1.3] filter;
		background: url("/assets/images/fanaly.jpg");
		background-position: top center;
		background-size: cover;
	}

	.background-effect {
		@apply fixed inset-0 box-content opacity-25 mix-blend-color;
		background: url("/assets/images/BrightRainSmall.webp") repeat center center;
	}

	.borderHover {
		@apply relative;
		@apply after:pointer-events-none after:absolute after:inset-0 after:block after:border after:border-gray-500/0 after:border-t-gray-500 after:transition-all after:duration-200 after:ease-out;
		@apply hover:after:-inset-1.5 hover:after:border hover:after:border-gray-500;
	}

	.borderActive {
		@apply after:-inset-1.5 after:border after:border-gray-500;
	}
}

body {
	@apply bg-background text-foreground relative flex min-h-screen flex-col;
	font-family: var(--font-text), Helvetica, sans-serif;
	margin: 0;
}

button {
	@apply cursor-pointer;
}
